/* CSS Document
Client: SHIVE-HATTERY
Company: Informatics, Inc
Author: Jeff S
Date: Feb 2023
*/

// Abstracts
@import "abstracts/variables";
@import "abstracts/mixins";

// Vendors 
/* Bootstrap Reqs */
@import "../bootstrap/scss/functions";
@import "../bootstrap/scss/variables";
@import "../bootstrap/scss/maps";
@import "../bootstrap/scss/mixins";
@import "../bootstrap/scss/root";
@import "../bootstrap/scss/transitions";
@import "../bootstrap/scss/accordion";
@import "../bootstrap/scss/tables";
@import "../bootstrap/scss/grid";

// Swiper
@import "vendors/swiper/swiper";

// Core
@import "core/reset";
@import "core/animations";
@import "core/theme";
@import "core/dev";

// Layout
@import "layout/header";
@import "layout/footer";
@import "layout/grid";
@import "layout/wordpress";

// Components
@import "components/buttons";
@import "components/page-header";
@import "components/news";
@import "components/expander";

//blocks
@import "blocks/hero-header";

