/* Blog List */
.blog-list-item {display: grid; gap: 15px; padding: 25px 0; border-bottom: 1px dotted #ccc;}
.blog-list-item .preheader {font-size: .8rem; font-weight: 700; color: #555;}
.blog-list-item .preheader a {font-weight: 800;}
.blog-list-item .text {align-content: flex-start;}
.blog-list-item h2 {font-size: 2rem; line-height: 1.1; letter-spacing: -.5px;}
.blog-list-item h2 a {color: var(--text); text-decoration: none;}
.blog-list-item h2 a:hover {text-decoration: underline;}
.blog-list-item .author {margin: 0 0 1rem 0; font-style: italic;}
.content .tag-list {overflow: hidden; list-style: none !important; padding: 0; margin: 0;}
.tag-list li {float: left; margin: 0 5px 10px 0 !important;}
.tag-list li a {padding: 4px 6px; background: #fff; font-size: .85rem; border-radius: 4px;}
.tag-list li a:hover {background: none;}
#pagination {font-size: 1rem; justify-content: center; display: flex; margin: 2rem 0 0 0;}
#pagination li:before {display: none;}
#pagination a {color: var(--primary);}
#pagination .pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
    background: var(--primary);
    border-color: var(--primary);
}

.category-list {list-style: square; padding: 0 0 0 1rem;}
.category-list li::marker {color: var(--primary);}
.category-list a {display: block; padding: 3px;}
.category-list a:hover {padding: 3px 0 3px 6px;}

.blog-header {border-bottom: 1px solid #ccc; margin: 1rem 0; text-align: center;}
.blog-header h1 {color: var(--dark); font-size: 3rem; line-height: 1.2;}
.blog-header .lead:before {left: calc(50% - 25px);}
.social-share {text-align: center; margin-top: 1rem;}
.social-share ul {text-align: center; font-size: 2rem; display: flex; justify-content: center; padding: 0;}
.content .social-share li {margin: 0 5px; padding: 0;}
.social-share li:before {display: none; padding: 0;}
.social-share > a:last-of-type {font-size: .85rem;}

.blog-search {margin: 0 0 1.5rem 0;}
.blog-search form {display: flex;}
.blog-search form input[type="text"] {border: 1px solid #ccc; border-radius: 5px 0 0 5px; background: #fff; border-right: none;}
.blog-search form .btn-theme {background: var(--primary); color: #fff; border: none; padding: 5px 10px; border-radius: 0 5px 5px 0; font-size: .8rem;}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
.blog-list-item {grid-template-columns: 2fr 3fr; gap: 25px;}

}

.blog-detail aside {margin-top: 150px;}
.blog-detail #hdr-basic {border-bottom: 1px solid #ccc; margin-bottom: 2rem; padding-bottom: 1rem;}
.blog-detail #hdr-basic h1 {border: none; margin: 0 0 1rem 0; padding: 0;}
.blog-detail img {margin: 0 0 2rem 0;}