.expand-content {border: 1px solid #ccc; border-right: none; border-left: none; background: #f9f9f9;}
.expand-content h3 { padding: 35px 75px 35px 25px; display: flex; font-family: var(--body); font-weight: 400; color: var(--text); margin: 0; line-height: 1.1; align-items: center; font-size: 1.5rem; position: relative;}
.expand-content h3 span {font-size: 2.5rem; color: var(--secondary); position: absolute; top: calc(50% - 1.5rem); right: 25px;}
.expand-text {padding: 0 25px 25px 25px;}
.expand-content + .expand-content {margin-top: -1px;}

@media (min-width: 768px) {
}
@media (min-width: 992px) {

}